@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis');


h1{
	line-height: 5;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size : -webkit-xxx-large;
	color: white
	}

.homepage h1{
	
}

.hero{
	background: image-url('water.mp4');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0;
	min-height: 50em;
}

.btn{
	width:20%;
	margin-top: 1em;
}